{% extends 'base.html.twig' %}

{% block body %}
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Alugue um Carro</h1>
        
        <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Cidade">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Data Retirada">
  </div>
 <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Data Devolução">
  </div>
  <button type="submit" class="btn btn-success">Pesquisar</button>
</form>
      </div>
{% endblock %}